services:
  ftp:
    image: python:3.12-slim
    working_dir: /app
    volumes:
      - ./server:/app
      - ./data:/data
    command: ["python", "ftp_server.py"]
    ports:
      - "2121:2121"
      - "30000-30009:30000-30009"

  client:
    image: python:3.12-slim
    working_dir: /app
    volumes:
      - ./client:/app
    depends_on:
      - ftp
    command: ["python", "ftp_client.py"]
