services:
  node1:
    build: ./nodes/node1
    container_name: node1
    networks: [sshnet]

  controller:
    image: python:3.12-slim
    working_dir: /app
    volumes:
      - ./controller:/app
      - ./payload:/payload
    depends_on: [node1]
    command: ["python", "provision.py"]
    networks: [sshnet]

networks:
  sshnet:
