services:
  loadbalancer:
    build:
      context: .
      dockerfile: Dockerfile.lb
    container_name: s11_custom_lb
    ports:
    - 9090:8080
    environment:
    - BACKENDS=web1:80,web2:80,web3:80
    - ALGO=rr
    - PORT=8080
    depends_on:
    - web1
    - web2
    - web3
    networks:
    - s11_net
    restart: unless-stopped
  web1:
    image: nginx:alpine
    container_name: s11_custom_backend_1
    volumes:
    - ./web1:/usr/share/nginx/html:ro
    networks:
    - s11_net
    restart: unless-stopped
  web2:
    image: nginx:alpine
    container_name: s11_custom_backend_2
    volumes:
    - ./web2:/usr/share/nginx/html:ro
    networks:
    - s11_net
    restart: unless-stopped
  web3:
    image: nginx:alpine
    container_name: s11_custom_backend_3
    volumes:
    - ./web3:/usr/share/nginx/html:ro
    networks:
    - s11_net
    restart: unless-stopped
networks:
  s11_net:
    driver: bridge
